AGENTIC_DIR=.agentic
CONFIG_FILENAME=config.json

NODE_ENV=production
LOG_LEVEL=warning

# All paths are Relative to the project root or executable path
DB_FILE_URL=./.agentic/index/symbols.db
DB_MIGRATIONS_DIR=./drizzle_migrations

CLAUDE_API_KEY=
GEMINI_API_KEY=
OPENAI_API_KEY=